html {
  width: 100%;
  height: 100%;
  background-color: seagreen;
}

h1 {
  margin: 0;
}

.responsiveText {
  color: white;
  mix-blend-mode: difference;
}

main {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deleteButton {
  width: 40px;
  height: 30px;
  filter: invert(0%) sepia(8%) saturate(7500%) hue-rotate(300deg)
    brightness(90%) contrast(110%);
  background-color: transparent;
  border: none;
}

.deleteButton:active {
  transform: translateY(2px);
}

.toggle {
  background-color: transparent;
  border: none;
}

.star {
  width: 25px;
  height: 25px;
  filter: invert(77%) sepia(79%) saturate(530%) hue-rotate(360deg)
    brightness(105%) contrast(102%);
}

.noDisplay {
  visibility: hidden;
}

#read,
#bookSubmit {
  cursor: pointer;
}

#header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px black solid;
}

#bookImg {
  height: 25px;
  width: 25px;
  margin: 0;
}
#signInButton {
  background-color: orange;
  border-radius: 25px;
  height: 30px;
  width: 70px;
  display: inline;
  cursor: pointer;
}

#addBookButton {
  margin: 5% 0% 5% 0%;
  background-color: orange;
  border-radius: 25px;
  cursor: pointer;
}

.book {
  width: 300px;
  height: 250px;
  text-align: center;
  padding: 1% 0% 5% 0%;
  margin-bottom: 5%;
  border-radius: 25px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  main {
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
  }

  #addBookButton {
    margin-top: 2%;
    margin-bottom: 0;
  }
}
